@model Ticket.Models.TicketAnexo
@{
	var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ticketAnexo",
        OnBegin = "TicketAnexoOnBegin",
        OnComplete = "TicketAnexoOnComplete",
        OnFailure = "TicketAnexoOnFailure",
        OnSuccess = "TicketAnexoOnSuccess"
    };
}

<div class="row form-group">
    <div class="col-md-12 col-xs-6">
		<dl>
			<dt>
				@Html.DisplayNameFor(model => model.CaminhoArquivo)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CaminhoArquivo)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Visibilidade)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Visibilidade)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Observacao)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Observacao)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.TicketId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.TicketId)
			</dd>
			
		</dl>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 col-xs-6">
		@using (Ajax.BeginForm("ExcluirPartial", "TicketAnexos", ajaxOptions))
		{
			@Html.AntiForgeryToken()

			<div class="row form-group">
				<div class="col-lg-12">
					@Ajax.RawActionLink("<i class=\"fa fa-arrow-left fa-fw\"></i> Cancelar", "CancelarPartial", "TicketAnexos", new { ticketId = Model.TicketId }, ajaxOptions, new { @class= "btn btn-default" })            
					<button type="submit" class="btn btn-primary"><i class="fa fa-trash fa-fw"></i> Excluir</button>
				</div>
			</div>
		}		
    </div>
</div>
@Html.Partial("_Scripts")
