@model Ticket.Models.Departamento
<div class="row form-group">
    <div class="col-md-12 col-xs-6">
		<dl>
			<dt>
				@Html.DisplayNameFor(model => model.UsuarioCadId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UsuarioCadId)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Descricao)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Descricao)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Sigla)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Sigla)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.DepartamentoMasterId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DepartamentoMasterId)
			</dd>
			
		</dl>
    </div>
</div>
